.card {
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;

    cursor: pointer;
    margin-bottom: 1.5em;
    margin-left: 1em;
}

.card-product {
    width: 280px;
    height: 400px;
}

.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.card-title {
    color: #555;
    font-size: 1.3em;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.card:hover  .card-title {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.card .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .card-info-container {
    padding: 1em 1.5em 1em 1.5em;
    border-top: 1px solid #eee;
}

.card .card-price {
    color: #222;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
}

.card p {
    margin: 0;
}